body {
  font-family: 'Space Mono', monospace;
  padding: 0;
  margin: 0;
}

nav {
  width: 100%;
  padding: 1%;
  text-align: right;
  min-height: 2%;
  background-color: #FF5733; /* Updated background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Added shadow */
}

nav ul {
  margin: 0;
  padding-right: 1%;
}

nav li {
  display: inline-block;
  margin-right: 10px; /* Added margin between menu items */
}

nav a {
  color: #FFF; /* White text */
  font-weight: bold; /* Bolder text */
  text-decoration: none;
}

h2 {
  padding-top: 5%;
  margin: 0;
  color: #333; /* Darker text color */
}

.hero {
  font-family: 'Press Start 2P', cursive;
  padding: 1%;
  display: flex;
  background-color: #FF5733; /* Updated background color */
  height: 150px;
  color: #FFF; /* White text */
  text-align: center;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Added shadow */
}

.coffee {
  padding-left: 15%;
}

.subtitle {
  margin-right: 15%;
}

.avatar {
  margin: 2%;
  border-radius: 50%;
  width: 70%;
  padding-top: 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Added shadow */
}

.pointer {
  cursor: pointer;
}

.cover {
  border-radius: 8px;
  width: 35%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Added shadow */
}

.cat {
  width: 65%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #FF5733; /* Added border */
  bottom: 0;
  margin: 0;
  justify-content: center;
  text-align: center;
  padding: 3% 0;
  width: 100%;
  background-color: #FFF; /* White background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Added shadow */
}

footer a {
  color: #FF5733; /* Updated link color */
  font-weight: bold; /* Bolder text */
  text-decoration: none;
  margin: 0 10px; /* Added margin between links */
}

footer h2 {
  width: 100%;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 15% auto;
}

.grid-item {
  text-align: center;
}

.column1 {
  padding-right: 5%;
  text-align: right;
}

.column2 {
  text-align: left;
  padding: 3%;
}

p {
  padding-left: 3%;
  margin-bottom: 0;
}

.contact {
  padding: 0.3%;
  margin-top: 1%;
  background-color: #FF5733; /* Updated background color */
  border-radius: 5px;
  color: #FFF; /* White text */
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Added shadow */
}

@media only screen and (max-width: 500px) {
  .coffee {
    padding-left: 0%;
    width: 60%;
  }

  .grid-container {
    grid-template-columns: auto;
  }

  .column1 {
    text-align: center;
  }
  .column2 p {
    padding: 1% 7%;
  }
  nav ul {
    text-align: center;
    padding: 0;
  }

  .subtitle {
    margin-right: 0;
    padding-right: 10%;
    padding-top: 10%;
  }
}
